---
---

@import "{{ site.theme }}";

.site-header {
  display: none;
}

body {
  background-color: #EFE0D2;
}

h1 {
  border-bottom: 5px solid #B89F8A;
}

h2 {
  border-bottom-color: #B89F8A;
}

p {
  margin-bottom: 1.2 em;
}
